<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.francotte.go4lunch_opc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:installLocation="preferExternal"
        android:allowBackup="true"
        android:icon="@drawable/ic_place_icon_type"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_place_icon_type"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <service
            android:name=".notification.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDNE6N-Ltg6BZQTyLt5Rfcs6ogJO0ZBGA" />

        <activity android:name=".ui.activities.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/title_activity_main" />

        <activity android:name=".ui.activities.FavoriteRestaurantActivity"/>

       <activity android:name=".ui.activities.SettingsActivity"/>

        <activity
            android:name=".ui.activities.DetailRestaurantActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>